/*-- scss:defaults --*/

// Title slide

.title{
  font-size: 55px !important;
  top: 50px !important;
  text-align: left !important;
}

.subtitle{
  font-size: 35px !important;
  top: 100px !important;
  text-align: left !important;
}

.author{
  font-size: 35px !important;
  text-align: left !important;
  top: 150px !important;
}

.date{
  font-size: 20px !important;
  text-align: center !important;
  position: relative !important;
  bottom: 0px !important;
}

.footer{
  font-size: 12px !important;
  color: #222;
  text-align: right !important;
  top: 10px;
  right: 30px;
}

// Fonts
$presentation-font-size-root: 33px;
$presentation-font-smaller: 0.9;
$presentation-line-height: 1.2;

// Headings
$presentation-h1-font-size: 2.3em;
$presentation-h2-font-size: 1.5em;
$presentation-h3-font-size: 1.3em;
$presentation-h4-font-size: 1.00em;

// Layout
$presentation-title-slide-text-align: left;

/*-- scss:rules --*/

.reveal {
  .slides {
    .slide {
      img+p.caption {
        font-size: 1.0em;
      }
    }
  }
}